ion-title {
  text-align: center;
}

ion-card-subtitle {
  text-align: center;
  color: red;
  font-weight: bold;
}

ion-card-title {
  text-align: center;
  color: greenyellow;
  font-size: 24px;
  font-weight: bold;
}

ion-col {
  text-align: center;
}

ion-button {
  --background: yellow;
  --color: black;
  text-align: center;
}
